*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menubar-container{
    padding-top: 1.2rem;
}
.menu-item{
    margin-right: 40px;
}
.items{
    list-style: none;
    padding: 10px;
    
    
}
.nav-items a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: rgb(235, 16, 16);

}
.nav-items a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.664);

  }